@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
    max-width: 1000px;
    margin-inline: auto;
}


.logo{
    font-size: 30px;
    font-family: "Black Ops One", cursive;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.keyboard,.user{
    width: 40px;
}


.signup{
    display: flex;
    flex-direction: column;
    
}









/* Timer */



.selector{
    margin: 5px;
    cursor: pointer;
}

.selector:hover{
    color: #f70592;
}







/* Input */

.container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.typing-text{
    font-size: 24px;
    text-align: justify;
    letter-spacing: 1px;
    max-height: 300px;
    overflow-y: auto;
    margin: 50px 0 50px 0;
}

.typing-text::-webkit-scrollbar{
    width: 0;
}

.reset-btn{
    width: 150px;
    height: 35px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    background: rgb(17, 17, 17);
    color: #f3f3f3;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.reset-btn:active{
    transform: scale(0.90);
}

.words-range{
    display: flex;
    gap: 20px;
    background: rgb(226, 226, 226);
    width: 30%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 3rem;
    margin-top: 20px;
}

.words{
    display: flex;
    gap: 10px;
}

.range{
    background-color: gray;
    color: aliceblue;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.range:active{
    transform: scale(0.80);
}




/* typing-component */


.main-container{
    margin-top: 100px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    /* border:5px solid #f70592; */
}




.correct{
    color: rgb(13, 182, 13);
}

.incorrect{
    color: red;
}

.active{
    color: rgb(0, 162, 255);
}



.display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    text-align: justify;
    background-color: #111111;
    color: #f3f3f3;
    padding: 30px;
    width: 100%;
    height:300px;
    
}

.timer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px ;
    margin-bottom: 50px;
    color: #f3f3f3;
    font-size: 20px;
    background-color: #0f0f0f;
    border-radius: 8px;
}


input{
  opacity: 0;
  z-index: -999;
  position: absolute;
}

