@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
    max-width: 1000px;
    margin-inline: auto;
}


.logo{
    font-size: 30px;
    font-family: "Black Ops One", cursive;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.keyboard,.user{
    width: 40px;
}


.signup{
    display: flex;
    flex-direction: column;
    
}









/* Timer */

.timer{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0 100px;
    /* border: 1px solid salmon; */
}

.selector{
    margin: 5px;
    cursor: pointer;
}

.selector:hover{
    color: #f70592;
}







/* Input */

.container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.typing-text{
    font-size: 24px;
    text-align: justify;
    letter-spacing: 1px;
    max-height: 300px;
    overflow-y: auto;
    margin: 50px 0 50px 0;
}

.typing-text::-webkit-scrollbar{
    width: 0;
}

.reset-btn{
    width: 30%;
    height: 3rem;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    background: rgb(226, 226, 226);
    outline: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.reset-btn:active{
    transform: scale(0.90);
}

.words-range{
    display: flex;
    gap: 20px;
    background: rgb(226, 226, 226);
    width: 30%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 3rem;
    margin-top: 20px;
}

.words{
    display: flex;
    gap: 10px;
}

.range{
    background-color: gray;
    color: aliceblue;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.range:active{
    transform: scale(0.80);
}